@model SignalR.Chat.Models.Client
           
@using (Html.BeginForm("Loginuser", "Chat"))
{
    <table>
        <tr>
            <td>
                <h5>Nickname:</h5>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                 <input type="submit" value="Login" />            
            </td>
        </tr>
    </table>
}